.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background-color: var(--background-light);
  border-radius: 10px;
  border: solid 1px var(--color-border);
  transition: 0.5s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 0.9rem;
}

.main {
  padding: 0.9rem;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-border);
  padding: 0.9rem;
}

.footer button {
  margin-left: auto;
}

.button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  transition: 0.5s;
}

.button:active,
.button:hover {
  background-color: var(--background-light-darker);
}
