.container {
  max-width: 30rem;
  margin: 4rem auto;
  border: solid 1px var(--color-border);
  border-radius: 3px;
  padding: 2rem;
}

.title {
  text-align: center;
}

.footer {
  margin-top: 1rem;
}
