.button {
  width: 4rem;
  height: 2rem;
  background-color: var(--color-main);
  color: var(--color-light);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
