.subTotal {
  display: flex;
}

.number {
  margin-left: auto;
}

.flex {
  display: flex;
}

.checkoutBtn {
  margin-top: 1rem;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.7rem;
}
