@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-gray);
}

:root {
  --color-main-lightest: rgb(255, 151, 151);
  --color-main--light: rgb(231, 48, 48);
  --color-main: rgb(192, 14, 14);
  --color-main--hover: rgb(124, 9, 9);
  --color-gray: #f5f5f5;
  --color-gray--dark: #a0a0a0;
  --color-light: #fff;
  --color-dark: #222;
  --color-border: #e6e6e6;
  --color-main-border: rgb(168, 119, 119);
  --background-light: #f8f9fa;
  --background-light-hover: #f0f0f0;
  --background-light-darker: #e6e6e6;
  --background-dark: #222;
  --burger-width: 18px;
  --burger-height: 2px;
  --container-spacing: 10%;
  --container-gap: 1rem;
}

.bg-white {
  background-color: var(--color-light);
}

/* Base hamburger menu */

.burger-menu {
  height: 30px;
  width: var(--burger-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu,
.burger-menu * {
  position: relative;
  cursor: pointer;
}

.burger {
  border-radius: 10px;
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: #000;
  transition: all 0.25s ease-in-out;
}

.burger::after,
.burger::before {
  content: '';
  border-radius: 10px;
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: #000;
  transition: all 0.25s ease-in-out;
  position: absolute;
}

.burger::before {
  transform: translateY(-7px);
}

.burger::after {
  transform: translateY(7px);
}

.burger-menu.opened .burger {
  transform: translateX(-12px);
  background: transparent;
}

.burger-menu.opened .burger::before {
  transform: rotate(45deg) translate(8px, -8px);
}
.burger-menu.opened .burger::after {
  transform: rotate(-45deg) translate(8px, 8px);
}

/* Btn */
.btn-main {
  background-color: var(--color-main);
  color: var(--color-light);
  padding: 0.8rem;
  border-radius: 2rem;
}
.btn-normal {
  padding: 0.6rem;
  border-radius: 4px;
}

.btn-main:hover {
  background-color: var(--color-main--hover);
  color: var(--color-light);
  transition: 0.35s;
}

.btn-outline-light {
  border: solid;
  color: var(--color-light);
  border-radius: 2rem;
}

.btn-outline-light:hover {
  background-color: var(--color-light);
  border: solid var(--color-light);
  color: var(--color-main);
  transition: 0.35s;
}

.btn-3d:hover {
  transform: translateY(-0.4rem);
}

.btn-3d:active {
  transform: translateY(0.4rem);
  transition: 0.1s;
}

.btn-hovering {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 0.2rem 1rem;
  /* -webkit-box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.18);
  border: none; */
}

.btn-hovering:hover {
  background-color: var(--color-gray);
}

/* general */
.d-none {
  display: none;
}

.p-none {
  padding: 0;
}

.p-1 {
  padding: 0.8rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.25rem;
}

.p-4 {
  padding: 1.75rem;
}

.mb-gap {
  margin-bottom: var(--container-spacing);
}

.mt-gap {
  margin-top: var(--container-gap);
}

.btn {
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 8px;
  font-size: 1.25rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-main);
  color: var(--color-light);
}

.btn-primary.disabled {
  background-color: var(--color-main-lightest) !important;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.w-100 {
  width: 100%;
}

/* modal */

.modal-header {
  margin-bottom: 0.75rem;
}

/* base */
.w-100 {
  width: 100%;
}

/* special request on checkoutlistItem */
.specialRequest {
  font-size: 0.8rem;
  white-space: pre-line;
}
