.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navItem {
  padding: 0.9rem 1.2rem;
}

.navItem:not(:last-child) {
  margin-right: 0.5rem;
}

.navLink {
  color: inherit;
  text-decoration: none;
}
