.active {
  color: var(--color-main);
  border-bottom: 2px solid var(--color-main);
}

.ul {
  transition: ease-in-out 1s;
  scroll-behavior: smooth;
}

.ul li:not(:last-child) {
  margin-right: 1rem;
}

.buttonLeft {
  background-image: linear-gradient(
    to right,
    #fff 80%,
    rgba(255, 255, 255, 0.438)
  );
}

.buttonRight {
  background-image: linear-gradient(
    to left,
    #fff 80%,
    rgba(255, 255, 255, 0.438)
  );
}
