.main {
  background-color: var(--color-gray);
  height: 100vh;
  padding: 4rem var(--container-spacing);
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--container-gap);
  margin-bottom: 1rem;
}

.closeCheckout {
  display: none;
  border: none;
  padding: 0.5rem;
  background-color: inherit;
}

.center {
  width: 100%;
}

@media all and (max-width: 1550px) {
  .closeCheckout {
    display: block;
    position: absolute;
    right: 5%;
    top: 5%;
  }
}

@media all and (max-width: 1200px) {
  .main {
    padding-inline: 1%;
    grid-template-columns: 1fr !important;
  }

  .aside {
    display: none;
    position: absolute;
    left: 100%;
    border-radius: 0px;
  }

  .aside {
    border-radius: 0px;
    transition: 0.25s ease-in-out;
  }

  .aside.opened {
    display: block;
    left: 0%;
    top: 0%;
    width: 100%;
  }
}

.container {
  display: grid;
  grid-template-columns: 60rem 1fr;
  gap: 1.5rem;
}
