.main {
  background-color: var(--color-gray);
  height: 100vh;
  padding: 4rem var(--container-spacing);
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--container-gap);
  margin-bottom: 1rem;
}

.center {
  width: 100%;
}
