.form {
  position: relative;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  border: none;
  background-color: inherit;
}

.input {
  padding: 1rem 2.3rem;
  width: 100%;
  border: 1px solid var(--color-border);
  border-left-color: var(--color-main);
  border-right-color: var(--color-main);
  border-radius: 5rem;
}
