.buttonDelete {
  margin-left: auto;
  border: none;
  color: var(--color-gray--dark);
  background-color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.buttonDelete:hover {
  filter: brightness(70%);
}
