.list {
  list-style: none;
  border-bottom: solid 1px var(--color-border);
}

.listLink {
  text-decoration: none;
  color: inherit;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  border-bottom: 2px solid var(--background-light);
  word-wrap: nowrap;
}

.listLink:hover,
.active {
  color: var(--color-main);
  border-bottom: 2px solid var(--color-main);
}

.listItem :not(:last-child) {
  margin-right: 0.8rem;
  width: fit-content;
}

.ul {
  transition: ease-in-out 1s;
  scroll-behavior: smooth;
}

.ul li:not(:last-child) {
  margin-right: 1rem;
}

.ul::-webkit-scrollbar {
  display: none;
}

.ul::-webkit-scrollbar-track {
  border-radius: 10px;
}

.ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
