.nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav ul li {
  padding: 0.5rem 1rem;
  border-bottom: 2px transparent;
}

.nav ul li:hover,
.nav ul li.active {
  color: var(--color-main);
  cursor: pointer;
  border-bottom: 2px solid var(--color-main);
}
