.footer {
  border-top: 1px solid var(--color-border);
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer button {
  margin-left: auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 0.8rem;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  width: 4rem;
  margin-right: 0.8rem;
  text-align: center;
}

.decrement {
  margin-right: 0.8rem;
}

.button {
  border: 1px solid var(--color-border);
  background-color: inherit;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  font-size: 1rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
