.container {
  display: flex;
}

.container:not(:last-child) {
  border-bottom: solid 1px var(--color-gray);
}

.description {
  color: var(--color-gray--dark);
}

.btn-hovering {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 0.2rem 1rem;
  -webkit-box-shadow: 1px 5px 13px 1px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 5px 13px 1px rgba(0, 0, 0, 0.18);
  border: none;
}
