.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.377);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px var(--color-border);
  transition: 0.5s;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.9rem;
}

.title {
  font-size: 2.75rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.main {
  padding: 0.9rem;
}

.button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  transition: 0.5s;
}

.button:active,
.button:hover {
  background-color: var(--background-light-darker);
}
