.footer {
  border-top: 1px solid var(--color-border);
  padding: 0.9rem;
}

.footer button {
  margin-left: auto;
}

.input {
  padding: 0.8rem;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.button {
}
